
@{
    ViewData["Title"] = "Index";
}

<h3>Admin Index</h3>

<hr />

<a asp-action="RoleList" asp-controller="Admin">Role List</a>

<br />

<a asp-action="UserList" asp-controller="Admin">User List</a>