@model LanguageViewModel
@{ ViewData["Title"] = "Delete language"; }

<br />

@if (Model != null && !Model.LanguageIsAttached)
{
    <h3>Are you sure you want to delete the language?</h3>
    <br />
    <a asp-action="Index" style="margin-right: 20px">|Back|</a>
    <a asp-action="Delete" asp-route-id="@Model.Language.Id">|Delete|</a>
}
else
{
<h4>Cannot delete the <b>@Model.Language.Name</b></h4>
    <h6>At least one person is connected to it.</h6>
    <br />

    <a asp-action="Index">|Back|</a>
}
